@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Itim&display=swap');
* {
  margin: 0;
  padding: 0;
}

.box-content {
  position: relative;
  background: inherit;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  width: 600px;
  height: 900px;
}

.box-content:after {
  content: '';
  width: 600px;
  height: 900px;
  background: inherit;
  position: absolute;
  bottom: 0;
  box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0.05);
  filter: blur(10px);
}

.box {
  position: relative;
  z-index: 1;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bowlby One SC', cursive;
  font-size: 30px;
  color: white;
  height: 80px;
}

.content {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: auto;
}

.layout-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url("./assets/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.layout-Modol {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

.Modal {
  background-image: url("./assets/Modal.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
  background-color: #d5d6dc;
  height: 900px;
  width: 1000px;
  top: 50%;
  left: 50%;
  margin-top: -450px;
  margin-left: -500px;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-result {
  display: grid;
  grid-template-rows: 200px 200px 200px;
  width: 100vw;
}

.gender {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.continent {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.gender-img {
  width: 100px;
  height: 100px;
}

.map-img {
  width: 130px;
  height: 130px;
}

.box-continent {
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 100px;
  margin-left: 35px;
  margin-right: 35px;
}

.box-gender {
  margin-top: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 100px;
  margin-left: 35px;
  margin-right: 35px;
}

.data-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label-input {
  margin-top: 30px;
}

.input {
  text-align: center;
  font-family: 'Itim', cursive;
  background-color: white;
  color: #000;
  height: 50px;
  font-size: 20px;
  width: 350px;
  border: 0;
  opacity: 0.5;
  border-radius: 5px;
}

.buttonsubmit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #20B2AA;
  color: white;
  font-size: 18px;
  width: 350px;
  height: 50px;
  border-radius: 5px;
  opacity: 0.8;
}

.buttonreset {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d92d2b;
  color: white;
  font-size: 18px;
  width: 350px;
  height: 50px;
  border-radius: 5px;
  opacity: 0.8;
}

.box-button {
  margin-top: 25px;
  color: #000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textstatus {
  font-style: oblique;
  text-align: center;
  font-family: 'Itim', cursive;
  color: #d92d2b;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 80px;
}

.box-result-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-result-progressbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bmi-value {
  text-align: center;
  font-weight: bold;
  font-family: 'Itim', cursive;
  font-size: 55px;
}

.description {
  display: block;
  font-weight: bold;
  font-family: 'Itim', cursive;
  font-size: 25px;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}

.progress-bar {
  display: block;
  margin: auto;
  margin-top: 30px;
  width: 60%;
  background-color:#ECF0F1;
  border-radius: 50px;
  height: 40px;
}

.value-progress-bar {
  animation: progress 2s;
  height: 40px;
  background-image: linear-gradient(45deg,#ABEBC6,#82E0AA,#58D68D,#2ECC71,#28B463,#239B56 );
  border-radius: 30px;
}

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.cute-img {
  width: 100px;
  height: 100px;
}